@font-face { font-family: Bebas; src: url('https://raw.githubusercontent.com/funkb/funkb.github.io/master/img/BEBAS.ttf'); } 
@font-face {
    font-family: Fashion; src: url('https://raw.githubusercontent.com/funkb/funkb.github.io/master/img/Fashion%20Fetish%20Small%20Caps.ttf'); }
body{
  background: black url("https://raw.githubusercontent.com/funkb/funkb.github.io/master/img/Splash%20PageBG.jpg") repeat-x;
  background-size: 100%;
  margin: 0;
  
   
}
.header{
    font-family: Bebas;
    font-size: 1.5em;
    padding: 0;
  width: 100%;
  background-color: #23376a;
  margin: 0;
  position: fixed;
  
}

.nav-bar{
    max-width: 60%;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
}
.nav{
    width: 100%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  float:left;
  
}
.nav-element{
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.nav-element a{
    display: block;
    color: #f2f2f2;
    font-size: 2vw;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
    
}
.nav-element:hover{
    background-color: #405187;
}
.main-cap{
  max-width: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23376a+0,ffffff+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top, rgba(35,55,106,0.5) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(35,55,106,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(35,55,106,0.5) 0%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8023376a', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
  
}
#logo_image{
  min-width: 75%;
  max-width: 90%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vw;

}

.teaser{ /* container for teaser text */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#677091+0,000000+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top, rgba(103,112,145,0.7) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(103,112,145,0.7) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(103,112,145,0.7) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80677091', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}
.tease{ /* Unordered List */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
    
}

.text{ /* List Element */
    font-family: Fashion;
    font-size: 1em;
    font-size: 1.5vw;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    /*width: 100%;*/

}
.imageViewer{ /* Image Container for slideshow */
    width: 65%;
    max-width: 65%;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
    position:relative
}
.mySlides{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.image{
    width: 100%;
    margin: 0;
}

.button{
    border:none;
    display:inline-block;
    list-style-type: none;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
  
}
.d-right{
      position:fixed;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.d-left{
    position:fixed;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.black{
    color:#fff!important;
    background-color:#000!important
}


.footer{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
}
#foot-logo{
    width: 25%;
    display: block;
    margin:auto;
}
