html{
font-family: 'Black Han Sans', sans-serif;	
}

.container-prev{
	padding: 5px;
	border: 5px solid #e2e2e2;
	border-radius: 5px;
		
}

#big-con{
	width: 70%;
	height: 100%;
	
}

#sm-con{
	width: 30%;
	height: 100%;
}


.wide{
	min-width=100%;	
		
}

.header{
	color: #353839;
	text-align: center;
	font-size: 3.5em;
	
}

.text-box{
	text-align: center;
	font-size: 1em;
	color: #353839;
	max-width: 55%;
	
}
.about-list{
	max-width: 60%;
	text-align: left;
	font-size: 1em;
	color: #353839;
	list-style-type: none;
	
}

.about-list-item:hover{
	color: #62686a;
}


.chat-box{
	mix-width: 40%;
	max-width: 80%;
	width: 60%;
	min-height: 30%;
	max-height: 50%;
	height: 40%;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	white-space: nowrap;
}
