

.container-prev{
	padding: 5px;
	border: 5px solid black;
		
}

#big-con{
width: 70%;
	font-family: 'Open Sans', sans-serif;	
	
}

#sm-con{
	width: 30%;
	font-family: 'Open Sans', sans-serif;	
}


.wide{
	min-width=100%;	
	font-family: 'Open Sans', sans-serif;	
}

.header{
	color: #353839;
	text-align: center;
	font-size: 3.5em;
	font-family: 'Open Sans', sans-serif;	
}

.text-box{
	text-align: center;
	font-size: 1em;
	color: #353839;
	max-width: 55%;
	font-family: 'Open Sans', sans-serif;	
}
.about-list{
	max-width: 60%;
	text-align: left;
	font-size: 1em;
	color: #353839;
	list-style-type: none;
	
}

.about-list-item:hover{
	color: #62686a;
}


.chat-box{
	mix-width: 40%;
	max-width: 80%;
	width: 60%;
	mix-height: 40%;
	max-height: 80%;
	height: 60%;
	border: 3px solid #e2e2e2;
	border-radius: 10px;
}
